// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic");
@import url("https://fonts.googleapis.com/css?family=Dosis:400,300,500,600,700");

// Variables
//@import "variables";

@import "../css/font-awesome.min";
@import "../css/animate.min";
//@import "ie";
@import "style";
@import "responsive";